[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "==0.14.0"
aiogTTS = "==1.0.1"
gTTS = "==2.1.1"
parsedatetime = "*"
python-dateutil = "*"
gtts-token = "*"
speechrecognition = "*"
psutil = "*"
pygount = "*"
pyttsx3 = "*"
regex = "*"

[requires]
python_version = "3.8"
